{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "targets": "> 0.25%, not dead"
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "useBuiltIns": "entry",
                        "targets": "> 0.25%, not dead"
                    }
                ]
            ],
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": [
                            "./src"
                        ],
                        "alias": {
                            "@": "./src"
                        }
                    }
                ]
            ]
        }
    },
    "plugins": [
        "transform-vue-jsx",
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 2,
                "version": "^7.7.4"
            }
        ],
        ["transform-imports", {
            "vuetify": {
                "transform": "vuetify/lib/${member}",
                "preventFullImport": true
            }
        }]
    ]
}