
$tm_wrap_border: 1px solid rgba(67, 93, 125, 0.5);

$tm_input_focus_shadow: 0 0 5px rgba(67, 93, 125, 1);

$tm_icon_color: #808080;
$tm_icon_hover_color: #435d7d;

$tm_input_font-size: 18px;
$tm_component_height: 50px;

$tm_checkbox_border: 1px solid #435d7d;